@CHARSET "UTF-8";

/* defaults */
body {
	font-family: verdana, arial, georgia, sans-serif;
	text-align: center;
	background-color: #333333;
	background-image: url("../../images/admin/reactor_admin_bg.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 1em;
}

#container {
	text-align: justify;
	width: 95%;
	margin: auto;
	position: relative;
}

label {
	font-size: 0.75em;
}

input,textarea,button,select {
	border: 2px solid #bbbbbb;
	margin: 2px 0px 2px 0px;
	background-color: #eeeeee;
	color: #333333;
}

input:hover,textarea:hover,select:hover {
	border: 2px solid #ff0000;
	margin: 2px 0px 2px 0px;
	background-color: #ffffff;
	color: #000000;
}

input:hover{
	font-weight: bold;
}


button:hover {
	border: 2px solid #00cc00;
	margin: 2px 0px 2px 0px;
	background-color: #ffffff;
	color: #000000;
}

/* logo */
#logo {
	height: 73px;
	background-image: url("../../images/admin/reactor_login_layer_logo.png");
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

/* login page */
#extraDiv4.loginLogo {
	width: 250px;
	margin: auto;
	height: 73px;
	background-image: url("../../images/admin/reactor_login_layer_logo.png")
		;
	background-repeat: no-repeat;
	display: block;
}

#signInForm {
	width: 250px;
	margin: auto;
	background-color: #444444;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	border-color: #6b5850;
	padding: 10px;
}

#signInForm input {
	width: 220px;
}

#signInForm .errors {
	font-size: 0.70em;
	color: #ff8888;
	padding: 3px;
	margin: 3px;
	list-style: disc;
	list-style-position: inside;
}

/* notifications */
.operations li {
	background-color: #DAFFE5;
	border: 1px solid #25A24B;
	color: #25A24B;
	font-size: 0.75em;
	background-image: url('../../images/icons/accept.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
	padding: 5px 0px 5px 25px;
}

.errors li {
	background-color: #FFECEC;
	border: 1px solid #B90D0D;
	color: #B90D0D;
	font-size: 0.75em;
	background-image: url('../../images/icons/delete.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
	padding: 5px 0px 5px 25px;
}

/* top menu */
#topMenu {
	background-image:
		url('../../images/admin/reactor_admin_top_menu_bg.png');
	background-repeat: repeat-y;
	background-color: #353535;
	background-repeat: repeat-x;
	border: 1px solid #222222;
	padding: 5px 5px 5px 5px;
	font-size: 0.75em;
}

#topMenu a {
	color: #ffcc00;
	text-decoration: none;
}

#topMenu a:hover {
	color: #ffff00;
}

#topMenu .types li {
	margin: 10px;
	display: inline;
	padding: 3px;
	border-bottom: 5px solid;
	border-bottom-color: transparent;
	cursor: pointer;
}
#topMenu ul.section{
	margin: 15px 0px 0px 0px;
}

#topMenu .section li {
	margin: 0px 10px 0px 0px;
	display: inline;
	padding: 3px;
}

.columnHeader h1{
	background-color: #353535;
	color: #ffffff;
	padding: 5px;
}
	
.contentHolder{
	background-color: #ffffff;
	color: #000000;
	padding: 10px;
	border-color: #353535;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
}

.columnFooter{
	background-color: #353535;
	color: #ffffff;
	padding: 5px;
}

/* default navigation definition */
.paginationControl {
	font-size: 0.75em;
	text-align: right;
}

.paginationControl .totals{
	font-size: 0.8em;
	vertical-align: text-bottom;
}

.paginationControl a{
	border: 1px solid #bbbbff;
	background-color: #eeeeff;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	color: #000066;
}

.paginationControl a:hover{
	border: 1px solid #dddddff;
	background-color: #ffffff;
	padding: 0px 3px 0px 3px;
	text-decoration: none;
	color: #0000ff;
}


/* default table definition */

.reactorTable{
	width: 100%;
	border-collapse: separate;;
	border-spacing: 1px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #eeeeee;
	background-color: #757575;
}

.reactorTable td{
	font-size: 0.75em;
}

.reactorTable tbody .odd td{
	padding: 5px;
	background-color: #ffffff;
}

.reactorTable tbody .even td{
	padding: 5px;
	background-color:#efefef;
}

.reactorTable thead td{
	background-color:#555555 !important;
	color: #ffffff;
	padding: 5px;
	text-align: center;
	font-size: 0.7em;
}

/* icons */
#messageBox {
	margin: 10px 0px;
}

/* icons */
.icon {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	margin: 0px 5px 0px 5px;
}

.icon.true{
	background-image: url('../../images/icons/tick.png');
}

.icon.false{
	background-image: url('../../images/icons/cross.png');
}

.icon.document{
	background-image: url('../../images/icons/page_white_text.png');
}

.icon.arrowUp{
	background-image: url('../../images/icons/arrow_up.png');
}

.icon.users{
	background-image: url('../../images/icons/user.png');
}

.icon.roles{
	background-image: url('../../images/icons/group.png');
}

.icon.database{
	background-image: url('../../images/icons/database.png');
}

.icon.email{
	background-image: url('../../images/icons/email.png');
}

.icon.wrench{
	background-image: url('../../images/icons/wrench_orange.png');
}

.icon.cms{
	background-image: url('../../images/icons/brick_edit.png');
}

.icon.objectUpdate{
	background-image: url('../../images/icons/layout_edit.png');
}

.icon.objectRemove{
	background-image: url('../../images/icons/layout_delete.png');
}

.icon.objectAdd{
	background-image: url('../../images/icons/layout_add.png');
}

.icon.addFile{
	background-image: url('../../images/icons/drive_add.png');
}

.icon.updateFile{
	background-image: url('../../images/icons/drive_edit.png');
}

.icon.removeFile{
	background-image: url('../../images/icons/drive_delete.png');
}

.icon.addPage{
	background-image: url('../../images/icons/page_add.png');
}

.icon.updatePage{
	background-image: url('../../images/icons/page_edit.png');
}

.icon.removePage{
	background-image: url('../../images/icons/page_delete.png');
}

.icon.calendarAdd{
	background-image: url('../../images/icons/calendar_add.png');
}

.icon.calendarRemove{
	background-image: url('../../images/icons/calendar_delete.png');
}

.icon.arrowRefresh{
	background-image: url('../../images/icons/arrow_refresh.png');
}

.icon.roleAdd{
	background-image: url('../../images/icons/group_add.png');
}

.icon.roleUpdate{
	background-image: url('../../images/icons/group_edit.png');
}

.icon.roleRemove{
	background-image: url('../../images/icons/group_delete.png');
}

.icon.rolePermissions{
	background-image: url('../../images/icons/lock.png');
}

.icon.fields{
	background-image: url('../../images/icons/vcard.png');
}

.icon.fieldAdd{
	background-image: url('../../images/icons/vcard_add.png');
}

.icon.fieldRemove{
	background-image: url('../../images/icons/vcard_remove.png');
}

.icon.fieldUpdate{
	background-image: url('../../images/icons/vcard_edit.png');	
}

.icon.fieldRemove{
	background-image: url('../../images/icons/vcard_delete.png');
}

.icon.denied{
	background-image: url('../../images/icons/cross.png');
}

.icon.allowed{
	background-image: url('../../images/icons/tick.png');
}

.icon.logOut{
	background-image: url('../../images/icons/bomb.png');
}