@CHARSET "UTF-8";

/* defaults */
body {
	font-family: verdana, arial, georgia, sans-serif;
	text-align: center;
	background-color: #333333;
	background-image: url("../../images/admin/reactor_admin_bg.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	font-size: 1em;
}

#container {
	text-align: justify;
	width: 95%;
	margin: auto;
	position: relative;
}

label {
	font-size: 0.75em;
}

input,textarea,button,select {
	border: 2px solid #bbbbbb;
	margin: 2px 0px 2px 0px;
	background-color: #eeeeee;
	color: #333333;
}

input:hover,textarea:hover,select:hover {
	border: 2px solid #ff0000;
	margin: 2px 0px 2px 0px;
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}

button:hover {
	border: 2px solid #00cc00;
	margin: 2px 0px 2px 0px;
	background-color: #ffffff;
	color: #000000;
}

/* logo */
#logo {
	height: 73px;
	background-image: url("../../images/admin/reactor_login_layer_logo.png");
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}

/* login page */
#extraDiv4.loginLogo {
	width: 250px;
	margin: auto;
	height: 73px;
	background-image: url("../../images/admin/reactor_login_layer_logo.png")
		;
	background-repeat: no-repeat;
	display: block;
}

#signInForm {
	width: 250px;
	margin: auto;
	background-color: #444444;
	border-width: 3px 1px 1px 1px;
	border-style: solid;
	border-color: #6b5850;
	padding: 10px;
}

#signInForm input {
	width: 220px;
}

#signInForm .errors {
	font-size: 0.70em;
	color: #ff8888;
	padding: 3px;
	margin: 3px;
	list-style: disc;
	list-style-position: inside;
}

/* notifications */
.operations li {
	background-color: #DAFFE5;
	border: 1px solid #25A24B;
	color: #25A24B;
	font-size: 0.75em;
	background-image: url('../../images/icons/accept.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
	padding: 5px 0px 5px 25px;
}

.errors li {
	background-color: #FFECEC;
	border: 1px solid #B90D0D;
	color: #B90D0D;
	font-size: 0.75em;
	background-image: url('../../images/icons/delete.png');
	background-repeat: no-repeat;
	background-position: 5px 3px;
	padding: 5px 0px 5px 25px;
}

/* top menu */
#topMenu {
	background-image:
		url('../../images/admin/reactor_admin_top_menu_bg.png');
	background-repeat: repeat-y;
	background-color: #353535;
	background-repeat: repeat-x;
	border: 1px solid #000000;
	padding: 5px 5px 10px 5px;
}

#topMenu a {
	color: #ffcc00;
	text-decoration: none;
}

#topMenu .types li {
	margin: 10px;
	display: inline;
	padding: 3px;
	border-bottom: 5px solid transparent;
	cursor: pointer;
}
#topMenu ul.section{
	margin: 15px 0px 0px 0px;
}

#topMenu .section li {
	margin: 0px 10px 0px 0px;
	display: inline;
	padding: 3px;
}

/* icons */
#messageBox {
	margin: 10px 0px;
}

/* icons */
.icon {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: top;
	margin: 0px 5px 0px 5px;
}

.icon.true {
	background-image: url('../../images/icons/tick.png');
}

.icon.false {
	background-image: url('../../images/icons/cross.png');
}